/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@import 'styles/normalize.scss';
@import 'styles/root.scss';
@import 'styles/fonts.scss';
@import 'styles/mixins.scss';

body {
  font-family: 'Space Grotesk', sans-serif;
}

h2 {
  color: white;
  @include font-medium;
  margin: 0;
}

p {
  color: var(--color-primary-200);
  @include font-regural;
  margin: 0;
}
